.libraryListItem {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .6em 1.2em;
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: .2s;
  will-change: transform;
}

.libraryListItem:nth-child(2n) {
  background: rgba(0, 0, 0, .05);
}

.libraryListItemHeader h4 {
  font-size: 1.1em;
  font-weight: 600;
}

.libraryListItemHeader p {
  font-size: 1em;
  font-weight: 400;
}

.actionFavourite,
.actionRead,
.actionRemove {
  padding-left: .8em;
  cursor: pointer;
}

.libraryListItem:hover {
  transform: scale(1.03);
}
