.libraryListItem {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .6em 1.2em;
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: .2s;
  will-change: transform;
}

.libraryListItemActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.libraryListItem:nth-child(2n) {
  background: #dddddd;
}

.libraryListItemLink {
  flex: 3;
}


.libraryListItemAuthor {
  display: block;
  font-size: 1.1em;
  font-weight: 600;
}

.libraryListItemTitle {
  display: block;
  font-size: 1em;
  font-weight: 400;
}

.actionFavourite,
.actionRead,
.actionRemove {
  cursor: pointer;
}

.libraryListItem:hover {
  transform: scale(1.03);
}
