.settings {
  font-size: 1rem;
  width: 100%;
  height: calc(100vh - 6em);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 6em;
  padding: 1em;
}

.settings-col {
  flex: 1;
  align-self: center;
}
