.authStatus {
  font-size: 1rem;
  padding: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.authStatusTitle{
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  margin-left: .6em;
}

.authStatusLink:hover {
  color: rgba(255, 255, 255, 6);
  transform: scale(1.1);
}

