.authStatus {
  font-size: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .5em 0 0;
}

.authStatusTitle{
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  margin-left: .6em;
}

.authStatusLink:hover {
  color: rgba(255, 255, 255, .5);
  transform: scale(1.1);
}

