.settingsLogo {
  text-align: center;
}

.settingsLogoContainer {
  color: rgba(255, 255, 255, .7);
  animation: spin 2s linear infinite;
}

.settingsLogoIcon {
  animation: spin 40s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(90deg);
  }
  60% {
    transform: rotate(180deg);
  }
  90% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}