.wrapper {
  font-size: 1rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: gray;
}

.libraryListCard {
  font-size: 1rem;
  box-shadow: 0 1em 1.5em 0 rgba(0, 0, 0, .5);
  border-radius: .5em;
  overflow: hidden;
  margin: .5em;
  display: flex;
  flex-direction: column;
}

.libraryList {
  display: block;
  flex: 1 1 auto;
  box-shadow: 0 1em 1.5em 0 rgba(0, 0, 0, .5);
  border-radius: .5em;
  overflow: hidden;
  margin: .5em;
}

.libraryList.libraryList--active {
  display: none;
}

.libraryListTitle {
  padding-left: 4em ;
}

.libraryListAction {
  padding-right: .4em;
}

.libraryListHeader {
  flex: 0 0 auto;
  background: #157DC3;
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
  padding: .7em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.libraryListFooter {
  flex: 0 0 auto;
  background: #157DC3;
  color: #fff;
}

