.settingsList {
  font-size: 1rem;
  width: 100%;
  /*margin: 0 3em 0 0;*/
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  border-radius: 1.4em;
}


@media screen and (max-width: 480px) {
  .settingsList {
    width: 100%;
  }
}
